# Server
PORT=3000
NODE_ENV=development

# Frontend URL (untuk CORS)
FRONTEND_URL=*

# Database
DATABASE_URL="postgresql://postgres.CONNECTIONSTRING:PASSWORD@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.CONNECTIONSTRING:PASSWORD@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d