-- DropForeignKey
ALTER TABLE "post_tests" DROP CONSTRAINT "post_tests_module_id_fkey";

-- DropForeignKey
ALTER TABLE "pre_tests" DROP CONSTRAINT "pre_tests_module_id_fkey";

-- DropForeignKey
ALTER TABLE "questions" DROP CONSTRAINT "questions_post_test_id_fkey";

-- DropForeignKey
ALTER TABLE "questions" DROP CONSTRAINT "questions_pre_test_id_fkey";

-- AlterTable
ALTER TABLE "post_tests" ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "pre_tests" ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- DropEnum
DROP TYPE "EvaluationType";

-- CreateTable
CREATE TABLE "user_content_progress" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "content_id" TEXT NOT NULL,
    "progress" INTEGER NOT NULL DEFAULT 0,
    "is_completed" BOOLEAN NOT NULL DEFAULT false,
    "completed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_content_progress_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "user_content_progress_user_id_idx" ON "user_content_progress"("user_id");

-- CreateIndex
CREATE INDEX "user_content_progress_content_id_idx" ON "user_content_progress"("content_id");

-- CreateIndex
CREATE UNIQUE INDEX "user_content_progress_user_id_content_id_key" ON "user_content_progress"("user_id", "content_id");

-- AddForeignKey
ALTER TABLE "pre_tests" ADD CONSTRAINT "pre_tests_module_id_fkey" FOREIGN KEY ("module_id") REFERENCES "modules"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "post_tests" ADD CONSTRAINT "post_tests_module_id_fkey" FOREIGN KEY ("module_id") REFERENCES "modules"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "questions" ADD CONSTRAINT "questions_pre_test_id_fkey" FOREIGN KEY ("pre_test_id") REFERENCES "pre_tests"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "questions" ADD CONSTRAINT "questions_post_test_id_fkey" FOREIGN KEY ("post_test_id") REFERENCES "post_tests"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_content_progress" ADD CONSTRAINT "user_content_progress_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_content_progress" ADD CONSTRAINT "user_content_progress_content_id_fkey" FOREIGN KEY ("content_id") REFERENCES "contents"("id") ON DELETE CASCADE ON UPDATE CASCADE;

